Django==5.0.4
pip-tools==6.12.1
django-bootstrap4==1.1.0
pydash==5.1.1
beautifulsoup4==4.6.3
SoMaJo==1.8.3
fabric3==1.14.post1
black==22.12.0
isort==5.11.4
pytest-django==4.5.2
pytest-mock==3.10.0
python-telegram-bot==13.15
django-s3-sqlite==0.0.5

# google sheets
gspread==3.1.0
oauth2client==4.1.3

# py_translator
-e git+https://github.com/sebatyler/py_translator@master#egg=py_translator

bepro-python-honey

# deployment
zappa==0.58.0
fabric==3.2.2
awslambdaric==2.0.4
django-dotenv==1.4.2

ipython