<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>easy Deutsch</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">
    <!--
    <style>
        html {
            font-size: 20px;
        }
    </style>
    -->

    {% block header %}
    {% endblock %}
</head>

<body>

<div class="container">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'search' %}">Search</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'sentence' %}">Sentence</a>
        </li>
    </ul>

    {% block nav_extra %}
    {% endblock %}

</div>

{% block body %}
{% endblock %}

</body>

</html>