<!DOCTYPE html>
<html lang="en">
{% load bootstrap4 %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>easy Deutsch</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <!--
    <style>
        html {
            font-size: 20px;
        }
    </style>
    -->
</head>
<body>
<div class="container-fluid">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#examples">Examples</a>
        </li>
    </ul>
    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Top words. <a href="{% url 'home' %}">Show all</a></h5>
                    <ol>
                        {% for data in token_data %}
                            <li><a href="{% url 'search' %}?word={{ data.key }}">{{ data.key|safe }}</a> |
                                <a href="?word={{ data.key }}">examples</a></li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" id="examples" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Top sentences</h5>
                    <ol>
                        {% for data in sentences %}
                            <li>{{ data.de|safe }} / {{ data.rest }} </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
