<!DOCTYPE html>
<html lang="en">
{% load bootstrap4 %}
{% load custom %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>easy Deutsch</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">
    <!--
    <style>
        html {
            font-size: 20px;
        }
    </style>
    -->
</head>
<body>
<script>
    const synth = window.speechSynthesis;
    const msg = new SpeechSynthesisUtterance();
    msg.lang = 'de-DE';
    msg.rate = 0.7;

    let isStop = false;
    let isRandomPlaying = false;

    msg.addEventListener('end', function(event) {
        if (isRandomPlaying) setTimeout(randomPlay, 700, false);
    });

    function play(sentence, id = undefined) {
        if (synth.speaking) return;
        const text = sentence.getAttribute('data-sentence');
        const lang = sentence.getAttribute('data-lang');
        msg.text = text;
        msg.lang = lang;

        const speaking = document.getElementById('speaking');
        speaking.innerText = lang + " - " + text;
        synth.speak(msg);
    }

    function randomPlay(start = true) {
        if (start) {
            isRandomPlaying = true;
            isStop = false;
        }
        if (isStop || !isRandomPlaying || synth.speaking) return;
        const sentences = document.getElementsByClassName('sentence');
        const id = parseInt(Math.random() * sentences.length);
        const sentence = sentences[id];
        play(sentence, id);
    }

    function stop() {
        synth.cancel();
        isStop = true;
    }
</script>

<div class="container">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'search' %}">Search</a>
        </li>
    </ul>
    <form class="form-inline">
        <input class="form-control" type="search" name="de"
               value="{{ word_info.word }}" placeholder="satz" autofocus accesskey="s" />
        <input class="form-control" type="submit" value="search" />
    </form>
    <div class="row">
        <div class="col">
            <div class="card" id="examples" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Translations</h5>
                    <div>
                        <button type="button" class="btn btn-sm" onclick="randomPlay()">
                            <i class="fas fa-play-circle">Random</i>
                        </button>
                        <button type="button" class="btn btn-sm" onclick="stop()">
                            <i class="fas fa-stop-circle">Stop</i>
                        </button>
                        <a href="#"><div id="speaking"></div></a>
                    </div>
                    <ul>
                        {% for lang in languages %}
                            <li id="sentence{{ forloop.counter }}" class="sentence"
                                data-sentence="{{ translations|lookup:lang }}" data-lang="{{ lang }}">
                                <button type="button" class="btn btn-sm" onclick="play(this.parentNode);">
                                    <i class="fas fa-play-circle"></i>
                                </button>
                                {{ lang }} - {{ translations|lookup:lang }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
